body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color:  #2A4563;
    margin-bottom: 20px;
}

.mail-list {
    list-style-type: none;
    padding: 0;
}

.mail-item {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    transition: background 0.3s;
}

.mail-item:hover {
    background:  #4a6d8b59;
}

.mail-item strong {
    color: #2A4563;
}