body{
    background-color: whitesmoke;
}

/*Seccion de titulo y titulo*/

.cont_title{
    display: flex;
    justify-content: center;
}

.titulo{
    font-size: 3.5rem;
    color: rgb(48, 65, 84);
}

.sub-titulo{
    text-align: center;
    font-size: 1.2rem;
}

/*Seccion de Especialidades programacion y electronica*/

.cont_especialidades{
    width: max-content;
    height: max-content;
    background-color: white;
    border-radius: 20%;
    padding: 20px;
}

.cuadrito{
    border-radius: 20%;
    height: 7vh;
    font-size: 2.5rem;
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 10px;
    right: 10px;
    color: rgb(48, 65, 84);
}

.titulo_esp{
    font-size: 2rem;
    color: rgb(48, 65, 84);
}

.orden{
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    left: 25px;
}

.cont_esp{
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.linea-divisoria {
  border: none;
  height: 1px;
  background-color: #e0e0e0; 
  width: 90%;
  margin: 16px auto 0 auto; 
}

.texto{
    color: rgb(48, 65, 84);
    font-size: 1.1rem;
}

.cont_icon{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.ejemplo2{
    width: 25rem;
    margin-left: 20px;
}

.activar{
    background-color: rgb(48, 62, 80);
    font-size: 1.5rem;
    margin: 10px;
    border-radius: 20%;
    padding: 5px;
    color: white;
    border: none;
}

.contenedor-centro {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }

    .card {
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      padding: 30px;
      max-width: 600px;
      line-height: 1.6;
      font-family: Arial, sans-serif;
      display: none;
      
    }

    .card h2 {
      text-align: center;
      font-size: 16px;
      color: rgb(48, 62, 80);
      margin-bottom: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .card ul {
      padding-left: 20px;
    }

    .card li {
      margin-bottom: 10px;
      color: rgb(73, 84, 106);
    }

    .card p {
      margin-top: 20px;
      color: rgb(73, 84, 106);
    }

    .card2 {
      background-color: white;
      border-radius: 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      padding: 30px;
      max-width: 800px;
      line-height: 1.6;
      font-family: Arial, sans-serif;
      display: none;
      
    }

    .card2 h2 {
      text-align: center;
      font-size: 16px;
      color: rgb(48, 62, 80);
      margin-bottom: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }

    .card2 ul {
      padding-left: 20px;
    }

    .card2 li {
      margin-bottom: 10px;
      color: rgb(73, 84, 106);
    }

    .card2 p {
      margin-top: 20px;
      color: rgb(73, 84, 106);
    }

    .fondo-oscuro {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      z-index: 5;
    }