* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root {
    --color-primario: 0, 33, 65;
    --color-secundario: 0, 16, 31;
    --color-texto: #fff;
}

body {
    font-family: system-ui, sans-serif;
    color: var(--color-texto);
    min-height: 100dvh;
}

a {
    color: var(--color-texto);
    text-decoration: none;
}