nav {
    position: relative;
    z-index: 500;
    height: 100%;
    min-height: 128px;
    max-height: 128px;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #6e6767b0;
    backdrop-filter: blur(10px);
}

.link{
    color: white;
    text-decoration: none;
}

.no-scroll {
    overflow: hidden!important;
}

.navbar-header img {
    height: 100%;
    width: 80px;
}

.navbar-body {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    margin: 0 auto;
    width: 100%;
}

.desac {
    display: none;
    padding: 10px;
    border-radius: 50%;
    transition: all .2s ease-in-out;
}

.desac i {
    cursor: pointer;
    font-size: 1.7em;
}

.desac:hover {
    background-color: #41414123;
}

.navbar-body ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-weight: 600;
}

@media (max-width: 1010px) {
    .navbar-body ul {
        display: none;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #395776;
        width: 100%;
        font-size: 20px;
        text-align: center;
        gap: 0;
        padding: 0;
    }

    .navbar-body #menu_prin {
        height: calc(100vh - 128px);
    }

    .navbar-body a, .navbar-body li {
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    .navbar-body a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-bottom: 1px solid hsla(0, 0%, 100%, 0.473);
    }

    .desac {
        display: block !important;
    }

    .navbar-body ul.active {
        display: flex;
    }
}

a {
    display: inline-block;
    position: relative;
}

.navbar-body a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.navbar-body a:hover:after {
    width: 100%;
    left: 0;
}
